.width10{
    color: white;
    height: 28rem !important;
    border-radius: 4rem !important;
    background-color: #0A1F45 !important;
}
.white{
    color: white;
}
.content span{
    margin-right: 1rem;
}

.linkedin {
    text-decoration: none;
}

.prev-arrow{
    position: absolute;
    top:40%;
    left: -2.4rem;
    font-size: 1.1rem;
    height: 6.9rem;
    width: 2.3rem;
    background: #297bb7;
    color: white;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    z-index: 50;
    cursor: pointer;
    transition: 1s;
}

.prev-arrow:hover{
    background: turquoise;
    border-color: turquoise;
}
.prev-arrow:active{
    box-shadow: 0.1rem 0 0.5rem 0.1rem lightgrey;
}
.next-arrow{
    position: absolute;
    top: 40%;
    right: -2.4rem;
    font-size: 1.1rem;
    height: 6.9rem;
    width: 2.3rem;
    background: #297bb7;
    color: white;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    z-index: 50;
    cursor: pointer;
    transition: 1s;
}

.next-arrow:hover{
    background: turquoise;
    border-color: turquoise;
}

.next-arrow:active{
    box-shadow: -0.1rem 0 0.5rem 0.1rem lightgrey;
}